<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools:android="http://schemas.android.com/tools"
    package="mahasiswa.com.hamdadf_apps">

    <uses-permission android:name="android.permission.INTERNET"
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        tools:ignore="ManifestOrder" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_splash_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <uses-library android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyABuP4PGmFtLWlehJHbKyopd_Z2DC67bKY" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />



    </application>
"


            </intent-filter>
        </activity>
    </application>

</manifest>